<script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.138.0/build/three.module.js",
            "OrbitControls": "https://unpkg.com/three@0.138.0/examples/jsm/controls/OrbitControls.js"
        }
    }
</script>

<script type="module">


import * as THREE from 'three';
import { GLTFLoader } from "https://cdn.jsdelivr.net/npm/three@0.121.1/examples/jsm/loaders/GLTFLoader.js";
import {OrbitControls} from 'OrbitControls'
import { AmbientLight } from 'three';
import data from './db.glb';

const renderer = new THREE.WebGLRenderer();
renderer.setSize(window.innerWidth,window.innerHeight)

renderer.setClearColor('#FFF')

const scene = new THREE.Scene();

const camera = new THREE.PerspectiveCamera(
    110,
    window.innerWidth/window.innerHeight,
    0.1,
    1000
)

const orbit = new OrbitControls(camera , renderer.domElement)

document.body.appendChild(renderer.domElement)

camera.position.set(0,2,10)
orbit.update()

const assetLoader = new GLTFLoader();

assetLoader.load(data,function(gltf){
    const model = gltf.scene;
    scene.add(model)
    model.position.set(0,0,0)
    function animate(){
        model.rotation.y += 0
        renderer.render(scene, camera)
    }
    renderer.setAnimationLoop(animate)
},undefined,function(error){
    console.error(error)
});

const ambLight = new THREE.AmbientLight(0xFFFFFF)
scene.add(ambLight)

const ambLight2 = new THREE.AmbientLight(0xFFFFFF)
ambLight2.position.set(10,10,10)
scene.add(ambLight2)

renderer.render(scene,camera)

</script>

<style>
    *{
        margin: 0;
    }
</style>